body {background-color: #E0E0E0;}

/*#commonPage{

   align-items: center;
   max-width: 100%;
   width: 100%;
}
*/

#commonBox{
   justify-content: center;
   display: flex;
   align-items: center;

   /*vertical-align:bottom;*/
}

#ticketBox{
   background-color: #C0C0C0;
   width: 240px;
   height: 170px;
   padding: 30px;
   border: 1px solid #808080;
}

#total_tickets{
   font-size:90%;
   color:#656565;
}
